/* Base styles */

body {
  font-family: var(
    --kf-font-sans,
    "IBM Plex Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica Neue,
    Arial,
    "Noto Sans",
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji
  );
  font-size: var(--kf-font-size-md);
  line-height: 1.5;
  color: var(--kf-color-gray-950);
  background-color: var(--kf-color-gray-50);
}

.dark body {
  color: var(--kf-color-gray-50);
  background-color: var(--kf-color-gray-950);
}

/* Link styles */

a {
  color: var(--kf-color-blue-700);
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--kf-color-blue-800);
}

a:active {
  color: var(--kf-color-blue-800);
}

.dark a {
  color: var(--kf-color-blue-200);
}

.dark a:hover {
  color: var(--kf-color-blue-100);
}

.dark a:active {
  color: var(--kf-color-blue-100);
}

/* Heading styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(
    --kf-font-condensed,
    "IBM Plex Sans Condensed",
    ui-sans-serif,
    system-ui
  );
  line-height: 1.2;
  margin-block: 0;

  &.margin {
    margin-block: 1rem;
  }
}

h1 {
  font-size: var(--kf-font-size-4xl);
}

h2 {
  font-size: var(--kf-font-size-3xl);
}

h3 {
  font-size: var(--kf-font-size-2xl);
}

h4 {
  font-size: var(--kf-font-size-xl);
}

h5 {
  font-size: var(--kf-font-size-lg);
}

h6 {
  font-size: var(--kf-font-size-md);
}

/* Text styles */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
