/* ibm-plex-sans-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("http://cdn.kreftforeningen.no/fonts/ibm-plex-sans-condensed-v14-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-condensed-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("http://cdn.kreftforeningen.no/fonts/ibm-plex-sans-condensed-v14-latin-italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("http://cdn.kreftforeningen.no/fonts/ibm-plex-sans-condensed-v14-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("http://cdn.kreftforeningen.no/fonts/ibm-plex-sans-condensed-v14-latin-600italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
